h1 {
    color : gray;
    /* margin: 0; */
}

h1, h2 {
    margin: -15px;
    padding: 15px;
}

.section{
    display: flex;
    justify-content: space-evenly;
}

.desc {
    margin-top: 15px;
    margin-bottom: 15px;
    color: blueviolet;
}

.fire {
    color: red;
}

.card {
    width: 500px;
    height: 200px;
    /* dashed - пунктир, solid - сплошной */
    border: 3px solid rgb(136, 255, 0);
    padding : 25px;
    background-color: aquamarine;
    margin-bottom: 14px;
}

.button {
    width: 100px;
    height: 70px;
    color: azure;
    margin-bottom: 25px;
    cursor: pointer;
}

.button:hover {
    background-color: black;
}